@{
    ViewBag.Title = "Pakta Integritas";
    ViewBag.NavMainLink = "letter";
    ViewBag.NavMainLinkSubmenu = "PI";
}

@section Styles{
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/Page/Index.css">*@
    <style>
        body {
            font-size: 16px;
        }

        h2 {
            text-align: center;
            margin-bottom: 5px;
        }

        .info {
            margin-bottom: 5px;
        }

        .signature {
            margin-top: 5px;
        }

        .office {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            font-size: 8px;
        }

        .address {
            font-size: 5px;
        }

        .office .address {
            width: 70%;
        }

        .swal2-confirm {
            margin-right: 20px;
        }

        .swal2-cancel {
            margin-left: 20px;
        }

        .btn-submit {
            margin-top: 20px;
        }

        .sign-area {
            margin-top: 15px;
        }

        .img-responsive1 {
            margin: 0 auto;
            display: block;
            max-width: 5%;
            height: fit-content;
        }

        .img-responsive2 {
            margin: 0 auto;
            display: block;
            max-width: 10%;
            height: fit-content;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript" src="~/Js/PaktaIntegritas/PaktaIntegritas.js"></script>
}

<div id="form-pi">
    <div class="box box-solid">
        <div class="box-body">
            <br />
            @*<img src="~/Content/Image/kpp.png" alt="Header Image" class="img-responsive" /><br>*@
            <div style="display: flex; justify-content: space-between;">
                <img id="pamas" src="~/Content/Image/pama.png" alt="Pama Image" class="img-responsive1" @*style="max-width:200px"*@ />
                <img id="kpps" src="~/Content/Image/kpp.png" alt="KPP Image" class="img-responsive2" />
            </div>
            <center><h2><b>PAKTA INTEGRITAS</b></h2></center>
            <div class="info">
                <br />
                <p>
                    Yang bertanda tangan dibawah ini:
                </p>
                <br />
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Nama</strong></td>
                            <td>:&nbsp</td>
                            <td id="form-name"></td>
                        </tr>
                        <tr>
                            <td><strong>NRP</strong></td>
                            <td>:&nbsp</td>
                            <td id="form-nrp"></td>
                        </tr>
                        <tr>
                            <td><strong>Dept / Divisi</strong></td>
                            <td>:&nbsp</td>
                            <td id="form-dept"></td>
                        </tr>
                    </tbody>
                </table>
                @*<strong>Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong> @ViewBag.NAME<br>
            <strong>NRP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong> @ViewBag.NRP<br>
            <strong>Dept. / Div.:</strong> @ViewBag.DEPT_DESC*@
            </div>

            <div>
                <br />
                <p>
                    Dalam rangka menjalankan tugas, kewajiban, dan tanggung jawab sebagai Pekerja PT Pamapersada Nusantara dan Group
                    (“Perusahaan”) beserta Mitra Bisnis dan untuk mendukung terciptanya tata Kelola Perusahaan yang baik, dengan ini menyatakan
                    bahwa saya berjanji untuk:
                </p>
                <br />
                <div style="padding-left: 30px;">
                    <input class="user-checkbox" type="checkbox" id="pi-1" name="pi-1" value="true">
                    <label for="pi-1" style="font-weight: normal;"> 1. Memahami dan mematuhi Perjanjian Kerja Bersama, peraturan-peraturan Perusahaan, dan peraturan perundang-undangan yang berlaku di Indonesia </label><br>
                    <label style="padding-left: 33px; font-weight: normal;">beserta konsekuensinya serta menjunjung tinggi integritas dan nilai-nilai Perusahaan;</label>
                </div>
                <div style="padding-left: 30px;">
                    <input class="user-checkbox" type="checkbox" id="pi-2" name="pi-2" value="true">
                    <label for="pi-2" style="font-weight: normal;"> 2. Melaksanakan tugas dengan sungguh-sungguh dan bertanggung jawab penuh atas pengelolaan pekerjaan untuk mencapai target yang sudah ditetapkan </label><br>
                    <label style="padding-left: 33px; font-weight: normal;">oleh Perusahaan;</label>
                </div>
                <div style="padding-left: 30px;">
                    <input class="user-checkbox" type="checkbox" id="pi-3" name="pi-3" value="true">
                    <label for="pi-3" style="font-weight: normal;"> 3. Menerapkan perilaku yang berpedoman pada Etika Bisnis dan Etika Kerja dan aktif melakukan tindakan pencegahan terhadap potensi terjadinya pelanggaran </label><br>
                    <label style="padding-left: 33px; font-weight: normal;">Etika Bisnis dan Etika Kerja serta tindakan kecurangan;</label>
                </div>
                <div style="padding-left: 30px;">
                    <input class="user-checkbox" type="checkbox" id="pi-4" name="pi-4" value="true">
                    <label for="pi-4" style="font-weight: normal;"> 4. Menjaga keamanan data dan informasi serta menghormati prinsip-prinsip etika dalam penggunaan perangkat teknologi (menjaga akses pribadi, kata sandi, </label><br>
                    <label style="padding-left: 33px; font-weight: normal;">dan sebagainya) serta perlindungan data pribadi dan Perusahaan demi melindungi data dan sistem Perusahaan dari ancaman keamanan;</label>
                </div>
                <div style="padding-left: 30px;">
                    <input class="user-checkbox" type="checkbox" id="pi-5" name="pi-5" value="true">
                    <label for="pi-5" style="font-weight: normal;"> 5. Melaporkan segala bentuk pelanggaran Etika Bisnis dan Etika Kerja serta tindakan kecurangan yang saya ketahui terjadi melalui media pelaporan yang </label><br>
                    <label style="padding-left: 33px; font-weight: normal;">disediakan Perusahaan;</label>
                </div>
                <div style="padding-left: 30px;">
                    <input class="user-checkbox" type="checkbox" id="pi-6" name="pi-6" value="true">
                    <label for="pi-6" style="font-weight: normal;"> 6. Meningkatkan prestasi, dedikasi, dan menjadi karyawan yang berkarakter “Champion Spirit”; dan</label><br>
                </div>
                <div style="padding-left: 30px;">
                    <input class="user-checkbox" type="checkbox" id="pi-7" name="pi-7" value="true">
                    <label for="pi-7" style="font-weight: normal;"> 7. Menjalankan prinsip walk the talk dengan cara berperilaku positif, dalam upaya mencapai visi dan misi Perusahaan.</label><br>
                </div>
                @*<ol>
                    <li>Menjunjung tinggi nilai integritas dalam lingkungan kerja perusahaan.</li>
                    <li>Berjanji untuk menerapkan perilaku yang berpedoman pada etika bisnis dan etika kerja.</li>
                    <li>
                        Berjanji untuk selalu berupaya melakukan tindakan pencegahan terhadap potensi terjadinya pelanggaran
                        etika
                        bisnis dan etika kerja.
                    </li>
                    <li>
                        Berjanji untuk selalu melaporkan segala bentuk pelanggaran etika bisnis dan etika kerja yang terjadi
                        yang
                        kami ketahui melalui media pelaporan yang disediakan perusahaan.
                    </li>
                    <li>Berjanji untuk menjadi role model dalam berperilaku positif.</li>
                </ol>*@
                <br />
                <p>
                    Demikian pernyataan ini saya buat dengan sebenar-benarnya dan tanpa paksaan dari pihak manapun. Apabila
                    saya
                    melanggar hal-hal yang telah dinyatakan dalam pakta integritas ini, maka saya bersedia menerima sanksi
                    sesuai
                    dengan ketentuan dan peraturan yang berlaku dalam perusahaan.
                </p>
                <br />
                <div class="row sign-area">
                    <div class="col-md-4 text-center col-md-offset-8">
                        <div>
                            <span><input id="sign-location" type="text" placeholder="lokasi"></span>, @DateTime.Now.ToString("dd-MMM-yyyy")
                        </div>
                        <div class="signature text-center">
                            <br><br>
                            <strong style="text-decoration: underline;">(<strong id="sign-name"></strong>)</strong>
                            @*<strong id="sign-name">(</strong><span id="sign-name-value"></span><strong>)</strong>*@
                        </div>
                    </div>
                </div>
                <br />
                @*<p>@((DateTime.Now.ToString("dd MMMM yyyy")))</p>
                <div class="signature">
                    <br><br>
                    <strong id="sign-name"></strong>
                </div>*@
            </div>

            <div class="text-center btn-submit">
                <button class="btn btn-success btn-sm" type="button" id="btn-submit-pi">Submit</button>
            </div>
        </div>
    </div>
</div>

<section class="content-header" id="form-pi-submit">
    <div class="container text-center">
        <h1>Anda sudah mensubmit Pakta Integritas</h1>
    </div>
</section>
